<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand mr-15" routerLink="/">
    <img src="assets/imgs/logo.png" alt="CF Blocks" style="width: auto; max-height: 30px;">
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" [href]="facebook"><i class="fa fa-facebook fa-fw fa-lg"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [href]="twitter"><i class="fa fa-twitter fa-fw fa-lg"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [href]="youtube"><i class="fa fa-youtube fa-fw fa-lg"></i></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [href]="instagram"><i class="fa fa-instagram fa-fw fa-lg"></i></a>
    </li>
  </ul>
  <ul class="navbar-nav mr-auto" *ngIf="showLinks()">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/block-calculator">Block Calculator</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/meal-calendar">Meal Calendar</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Resources
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>

  <ul class="navbar-nav flex-row mr-lg-0">
    <li class="nav-item" *ngIf="isLogedIn()" routerLinkActive="active">
      <a routerLink="/settings" class="nav-link settings" title="settings"><i class="fa fa-cog fa-fw fa-lg"></i></a>
    </li>
    <li class="nav-item dropdown" *ngIf="isLogedIn()" [ngClass]="{'active': hasNewNotifications()}">
      <a class="nav-link dropdown-toggle mr-3 mr-lg-0 pointer" id="navbar-notifications" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bell fa-fw fa-lg"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-notifications">
        <a class="dropdown-item pointer" *ngFor="let notification of notifications;" (click)="loadNotification(notification)"
          [ngClass]="{'active': !notification.viewed}">{{notification.message}}</a>
        <a class="dropdown-item" routerLink="/notifications" *ngIf="notifications && notifications.length > 0">See More...</a>
        <div *ngIf="!notifications || notifications.length <= 0" class="text-muted p-1"><small>No Notifications Found.</small></div>
      </div>
    </li>
    <li class="nav-item" *ngIf="isLogedIn()" routerLinkActive="active">
      <a routerLink="/account" class="nav-link">
        <span class="circle p-1">
          <img  *ngIf="userSession.user.photoURL" [src]="userSession.user.photoURL" class="img-fluid" alt="CF Blocks" [ngClass]="{'admin': isAdmin()}">
          <i class="fa fa-fw fa-lg fa-user-circle" *ngIf="!userSession.user.photoURL"></i>
        </span>{{userSession.user.username}}
      </a>
    </li>
    <li class="nav-item" *ngIf="hasAdmin()">
      <a class="nav-link pointer" title="settings"><i class="fa fa-fw fa-lg" [ngClass]="{'fa-user-circle' : isAdmin(), 'fa-user-circle-o': !isAdmin()}"></i></a>
    </li>
    <li class="nav-item" *ngIf="isLogedIn()">
      <a (click)="logout()" class="nav-link pointer" title="signin">Logout</a>
    </li>
    <li class="nav-item" *ngIf="!isLogedIn()">
      <a routerLink="/signin" class="nav-link pull-left" title="signin">Sign In</a>
    </li>
    <li class="nav-item" *ngIf="!isLogedIn() && showLinks()">
      <a routerLink="/signup" class="nav-link pull-right" title="Create New Account">Create New Account</a>
    </li>
  </ul>
  </div>
  <button class="navbar-toggler ml-lg-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
