<div class="card meal-builder">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <h1>{{user?.firstName}}'s Meals - {{mealDay | date:'MMMM d'}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-6 meal-container">
        <div class="row meal-totals">
          <div class="col text-center">
            <label class="control-label"><b>Carbs:</b></label><span class="mr-2">&nbsp;{{(getMealCarbTotal() | number:'1.0-1') + 'g / ' + (getDailyCarbTotal() | number:'1.0-1') + 'g'}}</span>
          <!--</div>-->
          <!--<div class="col">-->
            <label class="control-label"><b>Fats:</b></label><span class="mr-2">&nbsp;{{(getMealFatTotal() | number:'1.0-1') + 'g / ' + (getDailyFatTotal() | number:'1.0-1') + 'g'}}</span>
          <!--</div>-->
          <!--<div class="col">-->
            <label class="control-label"><b>Protein:</b></label><span class="mr-2">&nbsp;{{(getMealProteinTotal() | number:'1.0-1') + 'g / ' + (getDailyProteinTotal() | number:'1.0-1') + 'g'}}</span>
          <!--</div>-->
          <!--<div class="col">-->
            <label class="control-label"><b>Calories:</b></label><span class="mr-2">&nbsp;{{(getMealCalorieTotal() | number:'1.0-1') + 'cals / ' + (getDailyCalorieTotal() | number:'1.0-1') + 'cals'}}</span>
          </div>
        </div>
        <div class="row meals">
          <div class="col">
            <meal-editor [meal]="meal"></meal-editor>
          </div>
        </div>
      </div>
      <div class="col-6 food-container">
        <div class="row">
          <div class="col-11">
            <div class="form-group">
              <input type="search" class="form-control" [ngClass]="{'is-invalid': foods.length < 1}" id="food-filter" [(ngModel)]="search" placeholder="Filter"/>
              <div class="invalid-feedback">No Results Were Found</div>
            </div>
          </div>
          <div class="col-1">
            <span class="rounded-circle coal grey1-fill grey3-fill-hover pull-left create-food pointer" title="Create New Food" (click)="loadFoodModal()"><i class="fa fa-lg fa-fw fa-plus"></i></span>
          </div>
        </div>
        <div class="row">
          <div class="col-6" *ngFor="let food of foods">
            <!--<food-item *ngFor="let food of foods | foodFilter : {search: search, alreadyUsed: meal.foods}" [food]="food"  (updateFood)="loadFoodModal(food)"></food-item>-->
            <food-item [food]="food" [canAdd]="true" [canUpdate]="true" (updateFood)="loadFoodModal(food)" (add)="addFoodToMeal($event)"></food-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modify-food-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <food-creator [food]="updateFood" (cancelEvent)="resetFoodCreator()"></food-creator>
    </div>
  </div>
</div>
