<div class="row">
  <div class="col">
    <h1>Update Account</h1>
  </div>
</div>
<div class="row">
  <div class="col-6 offset-3">
    <!--TODO Look at Crossfit.com account page and Nav Bar-->
    <!--<form class="form" role="form" [formGroup]="accountInfo" (ngSubmit)="onSubmit()">-->
      <user-general-info [user]="userAccount" [updateActive]="fieldSetActive('General Info')" [fieldSetName]="'General Info'" (toggleUpdateActive)="toggleFieldSet($event);" (updateUser)="updateUser($event);"></user-general-info>
    <!--</form>-->
  </div>
</div>
