<div class="row">
  <div class="col-10 offset-1 page-header">
    <h1>Update Account</h1>
  </div>
</div>
<div class="row">
  <div class="col-6 offset-3">
    <!--TODO Look at Crossfit.com account page and Nav Bar-->
    <!--<form class="form" role="form" [formGroup]="accountInfo" (ngSubmit)="onSubmit()">-->
    <user-general-info [user]="userAccount" [updateActive]="fieldSetActive('General Info')" [fieldSetName]="'General Info'"
                       (toggleUpdateActive)="toggleFieldSet($event);" (updateUser)="updateUser($event);"></user-general-info>
    <user-body-info [user]="userAccount" [updateActive]="fieldSetActive('Body Measurments')" [fieldSetName]="'Body Measurments'"
                    (toggleUpdateActive)="toggleFieldSet($event);" (updateUser)="updateUser($event);"></user-body-info>
    <user-lifestyle [user]="userAccount" [updateActive]="fieldSetActive('Life Style')" [fieldSetName]="'Life Style'"
                    (toggleUpdateActive)="toggleFieldSet($event);" (updateUser)="updateUser($event);"></user-lifestyle>
    <user-block-template [user]="userAccount" [updateActive]="fieldSetActive('Meal Template')" [fieldSetName]="'Meal Template'"
                    (toggleUpdateActive)="toggleFieldSet($event);" (updateUser)="updateUser($event);"></user-block-template>
    <!--</form>-->
  </div>
</div>
