<!--<div class="card" [ngClass]="{'active': isSelected}">-->
  <!--<div class="card-body">-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<div class="row">-->
          <!--<div class="col">-->
            <!--<div class="row">-->
              <!--<div class="col">-->
                <!--<h3>{{food.name}}</h3>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col">-->
            <!--<div class="row">-->
              <!--<div class="col">-->
                <!--<img [src]="food.image" class="img-fluid" style="width: 2em;height:auto;" *ngIf="food.image"/>-->
                <!--<i class="fa fa-fw fa-5x fa-leaf leaf-green" *ngIf="!food.image"></i>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
          <!--<div class="col">-->
            <!--<div class="row">-->
              <!--<div class="col">Serving: {{food.serving.amount | number:'1.0-2'}} {{food.serving.metric}}</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col">Carbs: {{food.carb | number:'1.0-2'}}g</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col">Fats: {{food.fat | number:'1.0-2'}}g</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col">Protein: {{food.protein | number:'1.0-2'}}g</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col">Calories: {{calcCalories(food) | number:'1.0-2'}}kcal</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-1">-->
        <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food favorite pointer" title="Favorite Food" [ngClass]="{'gold active': isFavoriteFood()}"-->
              <!--(click)="isFavoriteFood() ? unFavoriteFood() : favoriteFood()"><i class="fa fa-xs fa-fw fa-star"></i></span>-->
        <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food remove pointer" title="Remove Food"-->
              <!--(click)="removeFood()" *ngIf="canRemove"><i class="fa fa-xs fa-fw fa-times"></i></span>-->
        <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food add pointer" title="Add Food"-->
              <!--(click)="addFood()" *ngIf="canAdd"><i class="fa fa-xs fa-fw fa-plus"></i></span>-->
        <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food edit pointer" title="Update Food"-->
              <!--(click)="loadFoodModal()" *ngIf="canUpdate"><i class="fa fa-xs fa-fw fa-pencil"></i></span>-->
        <!--<span class="dropleft">-->
          <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food edit pointer dropdown-toggle"-->
                <!--title="Additional Variations" *ngIf="hasAdditionalVariations()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--<i class="fa fa-xs fa-fw fa-chevron-circle-left"></i>-->
          <!--</span>-->
          <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 1;">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="row pointer m-1" [ngClass]="{'active leaf-green-fill snow': isSelected, 'coal': !isSelected}" (click)="toggleSelectFood()">
  <div class="col">
  <span style="display:inline-block;">{{food.name}}</span>
  <!--<div class="col">-->
    <span class="rounded-circle grey1-fill grey3-fill-hover pull-right update-food favorite pointer" title="Favorite Food" [ngClass]="{'active': isFavoriteFood()}"
          (click)="isFavoriteFood() ? unFavoriteFood() : favoriteFood()"><i class="fa fa-xs fa-fw fa-star" [ngClass]="{'gold': isFavoriteFood(), 'coal': !isFavoriteFood()}"></i></span>
    <!--<span class="rounded-circle grey1-fill grey3-fill-hover pull-right update-food remove pointer" title="Remove Food" [ngClass]="{'active': isSelected}"-->
          <!--(click)="removeFood()" *ngIf="canRemove"><i class="fa fa-xs fa-fw fa-times coal"></i></span>-->
    <!--<span class="rounded-circle grey1-fill grey3-fill-hover pull-right update-food add pointer" title="Add Food" [ngClass]="{'active': isSelected}"-->
          <!--(click)="addFood()" *ngIf="canAdd"><i class="fa fa-xs fa-fw fa-plus coal"></i></span >-->
    <span class="rounded-circle grey1-fill grey3-fill-hover pull-right update-food edit pointer" title="Update Food" [ngClass]="{'active': isSelected}"
          (click)="loadFoodModal()" *ngIf="canUpdate"><i class="fa fa-xs fa-fw fa-pencil coal"></i></span>
    <!--<span class="dropleft">-->
      <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food edit pointer dropdown-toggle" [ngClass]="{'active': isSelected}"-->
            <!--title="Additional Variations" *ngIf="hasAdditionalVariations()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--<i class="fa fa-xs fa-fw fa-chevron-circle-left coal"></i>-->
      <!--</span>-->
      <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 1;">-->
        <!--<a class="dropdown-item" href="#">Action</a>-->
        <!--<a class="dropdown-item" href="#">Another action</a>-->
        <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--<a class="dropdown-item" href="#">Action</a>-->
        <!--<a class="dropdown-item" href="#">Another action</a>-->
        <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--<a class="dropdown-item" href="#">Action</a>-->
        <!--<a class="dropdown-item" href="#">Another action</a>-->
        <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--<a class="dropdown-item" href="#">Action</a>-->
        <!--<a class="dropdown-item" href="#">Another action</a>-->
        <!--<a class="dropdown-item" href="#">Something else here</a>-->
      <!--</div>-->
    <!--</span>-->
  </div>
</div>
<!--<div class="card" [ngClass]="{'active': isSelected}">-->
  <!--<div class="card-body">-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<div class="row">-->
          <!--<div class="col">-->
            <!--<div class="row">-->
              <!--<div class="col">-->
                <!--<h3>{{food.name}}</h3>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="row">-->
          <!--<div class="col">-->
            <!--<div class="row">-->
              <!--<div class="col">-->
                <!--<img [src]="food.image" class="img-fluid" style="width: 2em;height:auto;" *ngIf="food.image"/>-->
                <!--<i class="fa fa-fw fa-5x fa-leaf leaf-green" *ngIf="!food.image"></i>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
          <!--&lt;!&ndash;</div>&ndash;&gt;-->
          <!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
          <!--<div class="col">-->
            <!--<div class="row">-->
              <!--<div class="col">Serving: {{food.serving.amount | number:'1.0-2'}} {{food.serving.metric}}</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col">Carbs: {{food.carb | number:'1.0-2'}}g</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col">Fats: {{food.fat | number:'1.0-2'}}g</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col">Protein: {{food.protein | number:'1.0-2'}}g</div>-->
            <!--</div>-->
            <!--<div class="row">-->
              <!--<div class="col">Calories: {{calcCalories(food) | number:'1.0-2'}}kcal</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-1">-->
        <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food favorite pointer" title="Favorite Food" [ngClass]="{'gold active': isFavoriteFood()}"-->
              <!--(click)="isFavoriteFood() ? unFavoriteFood() : favoriteFood()"><i class="fa fa-xs fa-fw fa-star"></i></span>-->
        <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food remove pointer" title="Remove Food"-->
              <!--(click)="removeFood()" *ngIf="canRemove"><i class="fa fa-xs fa-fw fa-times"></i></span>-->
        <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food add pointer" title="Add Food"-->
              <!--(click)="addFood()" *ngIf="canAdd"><i class="fa fa-xs fa-fw fa-plus"></i></span>-->
        <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food edit pointer" title="Update Food"-->
              <!--(click)="loadFoodModal()" *ngIf="canUpdate"><i class="fa fa-xs fa-fw fa-pencil"></i></span>-->
        <!--<span class="dropleft">-->
          <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food edit pointer dropdown-toggle"-->
                <!--title="Additional Variations" *ngIf="hasAdditionalVariations()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
            <!--<i class="fa fa-xs fa-fw fa-chevron-circle-left"></i>-->
          <!--</span>-->
          <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 1;">-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
            <!--<a class="dropdown-item" href="#">Action</a>-->
            <!--<a class="dropdown-item" href="#">Another action</a>-->
            <!--<a class="dropdown-item" href="#">Something else here</a>-->
          <!--</div>-->
        <!--</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
