<div class="row pointer m-1" [ngClass]="{'active leaf-green-fill snow': isSelected, 'coal': !isSelected}" (click)="toggleSelectFood()">
  <div class="col">
  <span style="display:inline-block;">{{food.name}}</span>
  <!--<div class="col">-->
    <span class="rounded-circle grey1-fill grey3-fill-hover pull-right update-food favorite pointer" title="Favorite Food" [ngClass]="{'active': isFavoriteFood()}"
          (click)="isFavoriteFood() ? unFavoriteFood() : favoriteFood()"><i class="fa fa-xs fa-fw fa-star" [ngClass]="{'gold': isFavoriteFood(), 'coal': !isFavoriteFood()}"></i></span>
    <!--<span class="rounded-circle grey1-fill grey3-fill-hover pull-right update-food remove pointer" title="Remove Food" [ngClass]="{'active': isSelected}"-->
          <!--(click)="removeFood()" *ngIf="canRemove"><i class="fa fa-xs fa-fw fa-times coal"></i></span>-->
    <!--<span class="rounded-circle grey1-fill grey3-fill-hover pull-right update-food add pointer" title="Add Food" [ngClass]="{'active': isSelected}"-->
          <!--(click)="addFood()" *ngIf="canAdd"><i class="fa fa-xs fa-fw fa-plus coal"></i></span >-->
    <span class="rounded-circle grey1-fill grey3-fill-hover pull-right update-food edit pointer" title="Update Food" [ngClass]="{'active': isSelected}"
          (click)="loadFoodModal()" *ngIf="canEdit()"><i class="fas fa-xs fa-fw fa-edit coal"></i></span>
    <!--<span class="dropleft">-->
      <!--<span class="rounded-circle coal grey1-fill grey3-fill-hover pull-right update-food edit pointer dropdown-toggle" [ngClass]="{'active': isSelected}"-->
            <!--title="Additional Variations" *ngIf="hasAdditionalVariations()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
        <!--<i class="fa fa-xs fa-fw fa-chevron-circle-left coal"></i>-->
      <!--</span>-->
      <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 1;">-->
        <!--<a class="dropdown-item" href="#">Action</a>-->
        <!--<a class="dropdown-item" href="#">Another action</a>-->
        <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--<a class="dropdown-item" href="#">Action</a>-->
        <!--<a class="dropdown-item" href="#">Another action</a>-->
        <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--<a class="dropdown-item" href="#">Action</a>-->
        <!--<a class="dropdown-item" href="#">Another action</a>-->
        <!--<a class="dropdown-item" href="#">Something else here</a>-->
        <!--<a class="dropdown-item" href="#">Action</a>-->
        <!--<a class="dropdown-item" href="#">Another action</a>-->
        <!--<a class="dropdown-item" href="#">Something else here</a>-->
      <!--</div>-->
    <!--</span>-->
  </div>
</div>
