<div class="card meal-editor">
  <div class="card-body">
    <div class="card mb-1 meal-food-item-header" *ngIf="hasFoods()">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <label class="control-label required">Serving: </label>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <label class="control-label">Carbs: </label>
              </div>
              <div class="col">
                <label class="control-label">Fats: </label>
              </div>
              <div class="col">
                <label class="control-label">Protein: </label>
              </div>
              <div class="col">
                <label class="control-label">Calories: </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  *ngIf="hasFoods()">
      <div class="row" *ngFor="let meal of meals">
        <div class="col" *ngIf="meal?.foods">
          <div class="row" style="padding: 3px 20px;">
            <div class="col-3">
              <span class="rounded-circle coal toggle-foods pointer" data-toggle="collapse" [attr.data-target]="'#'+getMealCollapseId(meal)" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-lg fa-fw fa-chevron-circle-down"></i></span>
              {{meal.name}}
            </div>
            <div class="col">
              <div class="row">
                <div class="col">
                  {{getMealCarbs(meal) + 'g'}}
                </div>
                <div class="col">
                  {{getMealFats(meal) + 'g'}}
                </div>
                <div class="col">
                  {{getMealProtein(meal) + 'g'}}
                </div>
                <div class="col">
                  {{getMealCalories(meal) + 'g'}}
                </div>
              </div>
            </div>
          </div>
          <div [id]="getMealCollapseId(meal)" class="row collapse">
            <div class="col">
              <meal-food-item *ngFor="let mealFood of meal.foods" [food]="mealFood"></meal-food-item>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row empty-meal-display-text" *ngIf="!hasFoods()">
      <div class="col-6 offset-3 text-center">
        <p class="text-muted">This meal currently has no ingredients to display. Drag ingredient to here or click the Add Icon to add to your meal.</p>
      </div>
    </div>
    <div class="row meal-editor-submit-container mt-1">
      <div class="col text-center">
        <button type="button" class="btn btn-primary btn-block mb-1" (click)="createNewMeal()">Add New Meal</button>
        <button type="button" class="btn btn-default" (click)="reset()" *ngIf="hasFoods()">Reset</button>
        <button type="button" class="btn btn-primary" style="margin-left: 15px;" *ngIf="hasFoods()">{{meals ? 'Save' : 'Create'}}</button>
      </div>
    </div>
  </div>
</div>
