<div class="card meal-editor">
  <div class="card-body">
    <div class="card mb-1 meal-food-item-header" *ngIf="hasFoods()">
      <div class="card-body">
        <div class="row">
          <div class="col-3">
            <label class="control-label required">Serving: </label>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <label class="control-label">Carbs: </label>
              </div>
              <div class="col">
                <label class="control-label">Fats: </label>
              </div>
              <div class="col">
                <label class="control-label">Protein: </label>
              </div>
              <div class="col">
                <label class="control-label">Calories: </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div  *ngIf="hasFoods()">
      <div class="row" *ngFor="let meal of meals">
        <div class="col" *ngIf="meal?.foods">
          <div class="row">
            <div class="col">
              <span class="rounded-circle coal grey1-fill grey3-fill-hover toggle-foods pointer" data-toggle="collapse" [attr.data-target]="'#' + meal.name + '-collapse'" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-lg fa-fw fa-chevron-circle-down"></i></span>
              {{meal.name}} mealName
            </div>
          </div>
          <div [id]="meal.name + '-collapse'" class="row collapse">
            <div class="col">
              <meal-food-item *ngFor="let mealFood of meal.foods" [food]="mealFood"></meal-food-item>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn btn-default btn-block">Add New Meal</button>
    </div>
    <div class="row meal-editor-submit-container mt-1" *ngIf="hasFoods()">
      <div class="col text-center">
        <button type="button" class="btn btn-default" (click)="reset()">Reset</button>
        <button type="button" class="btn btn-primary" style="margin-left: 15px;">{{meals ? 'Save' : 'Create'}}</button>
      </div>
    </div>
    <div class="row empty-meal-display-text" *ngIf="!hasFoods()">
      <div class="col-6 offset-3 text-center">
        <p class="text-muted">This meal currently has no ingredients to display. Drag ingredient to here or click the Add Icon to add to your meal.</p>
      </div>
    </div>
  </div>
</div>
