<div class="row">
  <div class="col-8">
    <h1>
      <b>{{name}}'s Plan :
        <span class="dropdown-toggle" id="calendar-date-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{selectedDate | dateFormat: 'MMMM Do'}}</span>
        <div id="calendar-date-dropdown-menu" class="dropdown-menu" aria-labelledby="calendar-date-dropdown"></div>
      </b>
    </h1>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-primary pull-right mr-1" [ngClass]="{'btn-primary': todayIsSelected(), 'btn-default': !todayIsSelected()}" (click)="toggleToday()">Today</button>
    <div class="btn-group pull-right mr-1">
      <button type="button" class="btn btn-primary" (click)="goBackMonth()"><i class="fa fa-fw fa-lg fa-chevron-left"></i></button>
      <button type="button" class="btn btn-primary" (click)="goNextMonth()"><i class="fa fa-fw fa-lg fa-chevron-right"></i></button>
    </div>
    <span class="dropdown pull-right mr-1">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="calendar-type-drodown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{view}}
      </button>
      <div class="dropdown-menu" aria-labelledby="calendar-type-drodown">
        <a class="dropdown-item pointer" [ngClass]="{'active': isCurrentView('Monthly')}" (click)="loadView('Monthly')">Monthly</a>
        <a class="dropdown-item pointer" [ngClass]="{'active': isCurrentView('Bi-Weekly')}" (click)="loadView('Bi-Weekly')">Bi-Weekly</a>
        <a class="dropdown-item pointer" [ngClass]="{'active': isCurrentView('Weekly')}" (click)="loadView('Weekly')">Weekly</a>
        <a class="dropdown-item pointer" [ngClass]="{'active': isCurrentView('Day')}" (click)="loadView('Day')">Day</a>
      </div>
    </span>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr class="snow-fill">
      <th scope="col" *ngFor="let day of daysOfWeek" style="width:calc(100%/7);">{{day}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of month.weeks;">
      <td *ngFor="let day of week.days" [ngClass]="{'snow-4-fill': !day.isThisMonth, 'snow-2-fill': day.isThisMonth}" style="overflow: hidden;padding:0;">
        <calendar-day [day]="day" [meals]="getMeal(day)" [isSelected]="isSameDay(selectedDate, day.date)" [view]="view" (updateSelectedDate)="selectDate($event);"></calendar-day>
      </td>
    </tr>
    </tbody>
  </table>
</div>
