<div class="row">
  <div class="col-8">
    <h1>
      <b>{{name}}'s Plan : {{month.name}} {{month.year}}</b>
    </h1>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-primary pull-right mr-1" [ngClass]="{'btn-primary': todayIsSelected(), 'btn-default': !todayIsSelected()}" (click)="toggleToday()">Today</button>
    <div class="btn-group pull-right mr-1">
      <button type="button" class="btn btn-primary" (click)="goBackMonth()"><</button>
      <button type="button" class="btn btn-primary" (click)="goNextMonth()">></button>
    </div>
  </div>
</div>
<div class="table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr class="snow-fill">
      <th scope="col" *ngFor="let day of daysOfWeek">{{day}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let week of month.weeks;">
      <td *ngFor="let day of week.days" [ngClass]="{'snow-4-fill': !day.isThisMonth, 'snow-2-fill': day.isThisMonth}" style="overflow: hidden;">
        <calendar-day [day]="day" [meals]="getMeal(day)" [isSelected]="isSameDay(selectedDate, day.date)"></calendar-day>
      </td>
    </tr>
    </tbody>
  </table>
</div>
