<div class="row">
  <div class="col">
    <h1>
      <b>{{name}}'s Plan</b>
    </h1>
  </div>
</div>
<div class="card">
  <div class="card-header meal-calendar-heading">
    <b>
      <span class="dropdown-toggle" id="calendar-date-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size:20px;">{{selectedDate | dateFormat: 'MMMM Do'}}</span>
      <div id="calendar-date-dropdown-menu" class="dropdown-menu" aria-labelledby="calendar-date-dropdown"></div>
    </b>
    <span style="display:inline-block;" class="pull-right">
      <button type="button" class="btn btn-sm btn-primary pull-right mr-1" [ngClass]="{'btn-primary': todayIsSelected(), 'btn-outline-primary': !todayIsSelected()}" (click)="toggleToday()">Today</button>
      <div class="btn-group pull-right mr-1">
        <button type="button" class="btn btn-sm btn-primary" (click)="goBackMonth()"><i class="fa fa-fw fa-lg fa-chevron-left"></i></button>
        <button type="button" class="btn btn-sm btn-primary" (click)="goNextMonth()"><i class="fa fa-fw fa-lg fa-chevron-right"></i></button>
      </div>
      <span class="dropdown pull-right mr-1">
        <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" id="calendar-type-drodown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{view}}
        </button>
        <div class="dropdown-menu" aria-labelledby="calendar-type-drodown">
          <a class="dropdown-item pointer" [ngClass]="{'active': isCurrentView('Monthly')}" (click)="loadView('Monthly')">Monthly</a>
          <a class="dropdown-item pointer" [ngClass]="{'active': isCurrentView('Bi-Weekly')}" (click)="loadView('Bi-Weekly')">Bi-Weekly</a>
          <a class="dropdown-item pointer" [ngClass]="{'active': isCurrentView('Weekly')}" (click)="loadView('Weekly')">Weekly</a>
          <a class="dropdown-item pointer" [ngClass]="{'active': isCurrentView('Day')}" (click)="loadView('Day')">Day</a>
        </div>
      </span>
    </span>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table">
        <tbody>
        <tr *ngFor="let week of month.weeks;">
          <td *ngFor="let day of week.days" [ngClass]="{'snow-4-fill': !day.isThisMonth, 'snow-2-fill': day.isThisMonth}" style="overflow: hidden;padding:0;border:none;" [style.width.%]="100/7">
            <calendar-day [day]="day" [meals]="getMeal(day)" [isSelected]="isSameDay(selectedDate, day.date)" [view]="view" (updateSelectedDate)="selectDate($event);"></calendar-day>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
