<div style="padding:.3em">
  <div class="card day pointer" [ngClass]="{'valid-month': validMonth(day?.isThisMonth), 'is-selected': isSelected, 'cream-fill': isToday(day.date)}"  (click)="selectDate(day?.date)">
    <div class="card-header snow" style="padding: 0;" [ngClass]="{'coal-fill': !isSelected, 'red-fill': isSelected}">
      <div class="dayNumber text-center">{{day?.date | dateFormat: 'dddd'}} | {{day?.dayOfMonth}}</div>
    </div>
    <div class="card-body" style="padding: 0;">
      <div class="pointer meal" *ngFor="let meal of meals | mealSort" [ngClass]="
        {'breakfast tiger-fill': isBreakFast(meal),
         'lunch seafoam-fill': isLunch(meal),
         'dinner lavender-fill': isDinner(meal),
         'snack mint-fill': isSnack(meal)
        }">
        <span class="meal-text">{{getMealDisplay(meal)}}</span>
      </div>
      <div *ngIf="!meals || meals.length < 1">
        <p class="text-muted text-center">No Meals to Display!</p>
      </div>
    </div>
  </div>
</div>
