
/* Color Helper */
.snow {
  color: #fff;
  text-shadow: 1px 1px 1px #000;
}
.snow-fill {
  fill: #fff;
  background-color: #fff;
}
.snow-fill-hover:hover {
  fill: #fff;
  background-color: #fff;
}
.snow-1 {
  color: rgba(255, 255, 255,.95);
  text-shadow: 1px 1px 1px rgba(0, 0, 0,.95);
}
.snow-1-fill {
  fill: rgba(255, 255, 255,.95);
  background-color: rgba(255, 255, 255,.95);
}

.snow-2 {
  color: rgba(255, 255, 255,.90);
  text-shadow: 1px 1px 1px rgba(0, 0, 0,.90);
}
.snow-2-fill {
  fill: rgba(255, 255, 255,.90);
  background-color: rgba(255, 255, 255,.90);
}

.snow-3 {
  color: rgba(255, 255, 255,.85);
  text-shadow: 1px 1px 1px rgba(0, 0, 0,.85);
}
.snow-3-fill {
  fill: rgba(255, 255, 255,.85);
  background-color: rgba(255, 255, 255,.85);
}

.snow-4 {
  color: rgba(255, 255, 255,.80);
  text-shadow: 1px 1px 1px rgba(0, 0, 0,.80);
}
.snow-4-fill {
  fill: rgba(255, 255, 255,.80);
  background-color: rgba(255, 255, 255,.80);
}
.snow-5 {
  color: rgba(255, 255, 255,.75);
  text-shadow: 1px 1px 1px rgba(0, 0, 0,.75);
}
.snow-5-fill {
  fill: rgba(255, 255, 255,.75);
  background-color: rgba(255, 255, 255,.75);
}

.grey1 {
  color: #eee;
  text-shadow: 1px 1px 1px #111;
}
.grey1-fill {
  fill: #eee;
  background-color: #eee;
}
.grey1-fill-hover:hover {
  fill: #eee;
  background-color: #eee;
}
.grey2 {
  color: #ddd;
  text-shadow: 1px 1px 1px #222;
}
.grey2-fill {
  fill: #ddd;
  background-color: #ddd;
}
.grey2-fill-hover:hover {
  fill: #ddd;
  background-color: #ddd;
}
.grey3 {
  color: #ccc;
  text-shadow: 1px 1px 1px #333;
}
.grey3-fill {
  fill: #ccc;
  background-color: #ccc;
}
.grey3-fill-hover:hover {
  fill: #ccc;
  background-color: #ccc;
}
.grey4 {
  color: #bbb;
  text-shadow: 1px 1px 1px #444;
}
.grey4-fill {
  fill: #bbb;
  background-color: #bbb;
}
.grey4-fill-hover:hover {
  fill: #bbb;
  background-color: #bbb;
}
.grey5 {
  color: #aaa;
  text-shadow: 1px 1px 1px #555;
}
.grey5-fill {
  fill: #aaa;
  background-color: #aaa;
}
.grey5-fill-hover:hover {
  fill: #aaa;
  background-color: #aaa;
}
/*TODO more Greys*/
.coal {
  color: #000;
  text-shadow: 1px 1px 1px #fff;
}
.coal-fill {
  fill: #000;
  background-color: #000;
}
.coal-fill-hover:hover {
  fill: #000;
  background-color: #000;
}
.coal-1 {
  color: rgba(0, 0, 0,.95);
  text-shadow: 1px 1px 1px rgba(255, 255, 255,.95);
}
.coal-1-fill {
  fill: rgba(0, 0, 0,.95);
  background-color: rgba(0, 0, 0,.95);
}

.red {
  color: #e24037;
  text-shadow: 1px 1px 1px #000;
}
.red-fill {
  fill: #e24037;
  background-color: #e24037;
}
.red-fill-hover:hover {
  fill: #e24037;
  background-color: #e24037;
}
.leaf-green {
  color: #248f24;
  text-shadow: 1px 1px 1px #000;
}
.leaf-green-fill {
  fill: #248f24;
  background-color: #248f24;
}

.azure {
  color: #3cc;
  text-shadow: 1px 1px 1px #000;
}
.azure-fill {
  fill: #3cc;
  background: #3cc;
}
.blush {
  color: #ff5050;
  text-shadow: 1px 1px 1px #000;
}
.blush-fill {
  fill: #ff5050;
  background: #ff5050;
}
.lavender {
  color: #c9f;
  text-shadow: 1px 1px 1px #000;
}
.lavender-fill {
  fill: #c9f;
  background: #c9f;
}
.mint {
  color: #0fc;
  text-shadow: 1px 1px 1px #000;
}
.mint-fill {
  fill: #0fc;
  background: #0fc;
}
.seafoam {
  color: #099;
  text-shadow: 1px 1px 1px #000;
}
.seafoam-fill {
  fill: #099;
  background: #099;
}
.tiger {
  color: #fc6;
  text-shadow: 1px 1px 1px #000;
}
.tiger-fill {
  fill: #fc6;
  background: #fc6;
}
.cream {
  color: #FFFDD0;
  text-shadow: 1px 1px 1px #000;
}
.cream-fill {
  fill: #FFFDD0;
  background: #FFFDD0;
}
